<div class="well">
    <input type="text" id="personId" class="form-control"/>
    <button class="btn btn-primary" id="doIt">Do It</button>
</div>


@section scripts
{
    
<script src="~/Scripts/index.js"></script>
}